.main {
  height: 784px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.image {
  display: flex;
  flex-direction: column;
}

.image img {
  margin-top: -25px;
  margin-left: 920px;
  width: 290px;
  height: 420px;
}

.blackShadow {
  margin-top: -70px !important;
  width: 300px !important;
  height: 100px !important;
  margin-left: 920px;

  background: #1d1d1e;
  filter: blur(30px);
}

.about-rounded {
  position: relative;
  z-index: 999;
  margin-top: -390px;
}

.h1sDiv h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 117.2%;
  /* or 70px */
  margin-top: 43px;
  margin-left: 15px;
  text-align: center;
}

.h1sDiv img {
  width: 140px;
  height: 66px;
  position: relative;
  top: -62px;
  left: 138px;
}

.h3sDiv {
  position: relative;
  top: -58px;
  left: 9px;
  display: flex;
  max-width: 770px;
  margin: 0 auto;
}

.h3sDiv img {
  width: 20px;
  height: 105px;
  position: relative;
  left: 7px;
  top: -7px;
}

.h3sDiv h3 {
  font-family: "Laviossa RUS";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 158%;
  /* or 41px */

  text-align: center;
}

.btns {
  position: relative;
  left: 9px;
  top: -54px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.btns button:nth-child(1) {
  width: 266px;
  height: 76px;
  border: none;
  background: linear-gradient(
    87.05deg,
    #ff003f 17.99%,
    #ff3766 33.07%,
    #e12653 75.67%,
    #ff3766 93.02%
  );
  box-shadow: 0px 3px 49px -3px rgba(226, 72, 72, 0.76),
    inset 0px -4px 0px #8f1919;
  border-radius: 15px;
  font-family: "Laviossa RUS";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5px;
  line-height: 158.7%;
  /* identical to box height, or 35px */

  text-align: center;

  color: #ffffff;
}

.btns button:nth-child(2) {
  width: 266px;
  height: 76px;
  border: 2px solid rgb(226, 72, 72);
  background: transparent;
  border-radius: 15px;
  font-family: "Laviossa RUS";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5px;
  line-height: 158.7%;
  /* identical to box height, or 35px */

  text-align: center;

  color: #ffffff;
}


.btns button:hover {
    cursor: pointer;
    margin-top: -5px;
    transition: margin-top 0.2s ease;
}

.bgEffect {
    display: flex;
    position: relative;
    top: -320px;
}

.bgEffect img:nth-child(1) {
    width: 470px;
    height: 1000px;
}